In [ ]:
#LIST
# List is a versatile datatype available in python in which elements are written as a list of comma separated value inside sqaure brackets.
# Lists are mutable.
# Syntax- list_variable=[var1,var2,var3,..]

In [3]:
#Updating values in list
list=[1,2,3,4,5,6,7,8,9,10]
print(list)
list[5]=100
print(list)
del list[3]
print(list)
del list[2:4]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 100, 7, 8, 9, 10]
[1, 2, 3, 5, 100, 7, 8, 9, 10]
[1, 2, 100, 7, 8, 9, 10]

In [4]:
#cloning list
list1=[1,2,3,4,5]
list2=list1
print(list2)

[1, 2, 3, 4, 5]

In [5]:
#concatnation
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]
list3=list1+list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
#len- returns length of list
list1=[1,2,3,4,5]
len(list1)

5

In [8]:
#list methods:
# append()- it adds new elements at the end of the list
list=[]
list.append(22)
list.append(44)
print(list)

[22, 44]

In [9]:
#clear()- removes all elements from the list.
list=[1,2,3,4,5]
list.clear()
print(list)

[]

In [10]:
#copy()- returns copy of list
list=[1,2,3,4,5]
print(list.copy())

[1, 2, 3, 4, 5]

In [11]:
#count()- count the number of occurances of elements in list
list=[1,2,3,4,2,5,6,2,2,7,2,8,2,2,2,9,7,6,2]
list.count(2)

9

In [12]:
#extend() - adds all elements of an terable to the list
list=[1,2,3,4,5]
list.extend([6,7,8,9,10])
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
# index(x) - returns the position of 1st occurance of value x
list=["Alice","Bob","Charlie","David","Alice"]
print(list.index("Alice"))
print(list.index("Bob"))

0
1

In [17]:
#insert(i,x) - inserts element x at position index i
list=[1,3,4,5,6,7,8,9]
list.insert(1,2)
list.insert(9,10)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
#pop() - removes and returns the final or last element
list=[1,2,3,4,5,6,7,8,9]
list.pop()

9

In [24]:
#remove(x) - removes the first occurance of element x
list=[1,2,3,4,5,6,7]
list.remove(6)
print(list)

[1, 2, 3, 4, 5, 7]

In [25]:
#reverse() - reverse the order of elements in the list
list=[1,2,3,4,5,6,7,8,9]
list.reverse()
print(list)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
#sort() - sorts the elements in ascending order
list=[3,5,1,6,8,2,4,10,9,7]
list.sort()
print(list)

#Can be used for names also
list=["Bob","Alice","Aanvi","Nyra","Charlie","David"]
list.sort()
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Aanvi', 'Alice', 'Bob', 'Charlie', 'David', 'Nyra']